<!-- Home_export -->
<!-- Contact -->
<a href="#bottom" onclick="scrollToContact()" class="right top text" id="Contact">Contact</a>

<main class="frame" id="Home_export">
    <div id="head">
        <!-- TagLine -->
        <div class="subsets center top text" id="TagLine">
            <span >Hi, I’m Zero Lu.<br></span>
            <span>An </span>
            <b class="n156_16-42">XR designer that codes</b>
            <span>.<br>I also love optics and electronics.<br></span>
        </div>
        <!-- Logos -->
        <div class="group" id="Logos">
            <!-- ISMAR Logo -->
            <img src="images/projectImages/2020/logos/ismar logo.png" width="275" height="58" class="center top vector" id="n156_139" alt="ISMAR Demo" />
            <!-- Disney Logo -->
            <img src="images/projectImages/2020/logos/disney logo.png" width="213" height="213" class="center top vector" id="n156_140" alt="Disney" />
            <!-- Huawei Logo -->
            <img src="images/projectImages/2020/logos/huawei logo.png" width="83" height="83" class="center top vector" id="n156_141" alt="Huawei" />
            <!-- NetEaseLogo -->
            <img src="images/projectImages/2020/logos/netease logo.png" width="217" height="81" class="center top vector" id="n156_142" alt="NetEase" />
        </div>
        <!-- Mouse -->
        <div class="group" id="mouse">
            <!-- Rectangle 13 -->
            <div class="mouse_outer"></div>
            <!-- Rectangle 14 -->
            <div class="mouse_inner"></div>
        </div>
    </div>    
    <!-- SectionTitleMiddle -->
    <div class="center top text" id="SectionTitleMiddle">Projects</div>
    {{#mainProjects}}
        <!-- MainProjectCard -->
        <a class="MainProjectCard" href="{{pageUrl}}">
            <!-- MainImage -->
            <img src="{{imageSrc}}" class="MainImage" style="border-radius: 10px;"></img>
            {{#tags}}
            <!-- Tag -->
            <div class="Tag">{{.}}</div>
            {{/tags}}
            <!-- ProjectTitle -->
            <div class="ProjectTitle">{{title}}</div>
            <!-- ProjectSubtitle -->
            <div class="ProjectSubtitle">{{subtitle}}</div>
            <!-- ProjectButton -->
            <div class="ProjectButton">Read More</div>
        </a>
    {{/mainProjects}}
    
    {{#smallProjects}}
    <!-- SmallProjectCard -->
    <a class="SmallProjectCard" href="{{pageUrl}}" target="{{target}}">
        <!-- MainImage -->
        <img src="{{imageSrc}}" width="400px" height="263px" class="MainImage" style="border-radius: 8px;"></img>
        <div class="wrapper">
            {{#tags}}
            <!-- Tag -->
            <div class="Tag">{{.}}</div>
            {{/tags}}
            <!-- ProjectTitle -->
            <div class="ProjectTitle">{{title}}</div>
            <!-- ProjectSubtitle -->
            <div class="ProjectSubtitle">{{subtitle}}</div>
            <!-- BorderLine -->
            <!-- ProjectButton -->
            <div class="ProjectButton">Read More</div>
        </div>
    </a>
    {{/smallProjects}}
    <!-- Patents -->
    <div class="Patents Info" id="n156_115">
         <!-- SectionTitleLeft -->
        <h3 class="SectionTitleLeft">Patents (7)</h3>
        <ul id="patentList">
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/2017218356306.html" class="main">Optical design to achieve huge horizontal field of view with polarization.</a>
                <span class="addition">Filed Jun 30, 2017</span>
            </li>
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/201780005510X.html" class="main">Efficient text entry technique with touch pad.</a>
                <span class="addition">Issued Jul 17, 2018</span>
            </li>
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/201721343559X.html" class="main">An affordable way to achieve light field AR display.</a>
                <span class="addition">Issued Jun 19, 2018</span>
            </li>
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/2017218319398.html" class="main">Optical design to achieve huge horizontal field of view with shutters.</a>
                <span class="addition">Issued Jul 17, 2018</span>
            </li>
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/2017218356293.html" class="main">Optical design to achieve huge horizontal field of view with naked eye 3d screen.</a>
                <span class="addition">Issued Jul 17, 2018</span>
            </li>
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/2019101308525.html" class="main">Use CV to detect and track objects in 360 videos for easier video editing.</a>
                <span class="addition">Filed Feb 20, 2019</span>
            </li>
            <li class="InfoText">
                <a target="_blank" href="https://www.ipfeibiao.com/patent/view/2019106844707.html" class="main">Modify physical keyboard in AR scenarios.</a>
                <span class="addition">Filed Jul 26, 2019</span>
            </li>
        </ul>
        <!-- MoreButton -->
        <a onclick="toggleList()" id="patentMoreButton" class="MoreButton">- Less</a>            
    </div>
    <div class="Publication Info" id="">
         <!-- SectionTitleLeft -->
        <h3 class="SectionTitleLeft" name="contact">Publication (s)</h3>
        <ul>
            <li class="InfoText" id="n156_122">
                <a target="_blank" href="" class="main">A 6-DoF Trackable Smartwatch for AR Interaction.</a>
                <strong class="addition">ISMAR ‘19 Demo</strong>
            </li>
        </ul>      
    </div>
    <div class="Tool Info" id="">
         <!-- SectionTitleLeft -->
        <h3 class="SectionTitleLeft" name="contact">Tools</h3>
        <ul>
            <div class="InfoText" id="n156_122">
                <span class="main">I enjoy designing in Photoshop & Figma, prototyping in Unity, modeling in 3ds Max and crafting web experiences with old school HTML,JS&CSS.</span>
            </div>
        </ul>      
    </div>
    <!-- <div class="Writting Info" id="">
        <h3 class="SectionTitleLeft" >Writting</h3>
        <ul>
            <div class="InfoText">
                <span class="main">I initiated and am maintaining <a class="blue" target="_blank" href="https://zerolu.github.io/docs/#/">MR Design Guidelines for RhinoX</a>.</span>
            </div>
        </ul>      
    </div> -->
    <div class="Contact Info" id="Contact_info_block">
         <!-- SectionTitleLeft -->
        <h3 class="SectionTitleLeft" name="contact">Contact</h3>
        <ul>
            <div class="InfoText" id="n156_122">
                <span class="main">You can <a href="mailto:iamzerolu@gmail.com">email</a> me or find me at <a target="_blank" href="https://www.linkedin.com/in/zhixiong-lu-254a69a3/">LinkedIn</a>. You can check out my <a target="_blank" href="Zero_Lu_Resume_Product Designer.pdf">resume</a> as well.</span>
            </div>
        </ul>      
    </div>

    <!-- FootNote -->
    <div id="FootNote">©2020 &nbsp;Zhixiong Lu</div>
</main>