/* Contact */
ul, li {
    /*list-style-type:none*/
}
#head {
    margin-bottom: 100px;
}
#Contact {
    position:  absolute;
    font-family: Alef;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 120px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 30px;
    right: 99px;
    top: 88px;
}

/* TagLine */
#TagLine {
    padding-top: 180px  ;
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;
    color: white;
} 
/* TagLine b */
#TagLine b {
    font-family: Volkhov;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    align-items: normal;
    color: rgb(0, 209, 255);
}        
#Logos {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: visible;
}
#Logos img {
    position:  absolute;
    transition: transform 0.1s ease;
    opacity: 0.7;
}
#Logos img:hover {
    position:  absolute;
    transform: scale(1.05);
    opacity: 1.0;
}

/* ISMAR Logo */
#n156_139 {
    left: calc(50% - 137.5px + 324.5px);
    width: 275px;
    top: calc(539px - 466px);
    height: 58px;
}

/* Disney Logo */
#n156_140 {
    left: calc(50% - 106.5px + -363.5px);
    width: 213px;
    top: 0px;
    height: 213px;
}

/* Huawei Logo */
#n156_141 {
    left: calc(50% - 41.5px + 67.5px);
    width: 83px;
    top: calc(526px - 466px);
    height: 83px;
}

/* NetEaseLogo */
#n156_142 {
    left: calc(50% - 108.5px + -100.5px);
    width: 217px;
    top: calc(528px - 466px);
    height: 81px;
}

 #mouse {
    margin: 0 auto;
    position: relative;
    width: 31px;
    height: 48.4px;
 }

/* Rectangle 13 */
#mouse .mouse_outer {
    position: absolute;
    border-radius: 28.5px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset;
    width: 31px;
    height: 48.4035px;
}

/* Rectangle 14 */
#mouse .mouse_inner {
    background: rgba(196, 196, 196, 0.37);
    border-radius: 4px;
    width: 3px;
    margin: 10px auto;
    height: 15.2281px;
    position: relative;
    top: 10px;
}

/* SectionTitleMiddle */
#SectionTitleMiddle {
    font-family: Volkhov;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 184px;
    transform: translate(0px, -9.73333px);
    line-height: 65px;
    height: 57px;
    margin: 140px auto 20px auto;
}

/* MainProjectCard */
.MainProjectCard {
    display: block;
    margin-bottom: 60px;
    transition: transform 0.3s ease;
}
.MainProjectCard:hover {
    transform: scale(1.02);
}

/* ProjectButton */
.MainProjectCard .ProjectButton {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 209, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 133px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    height: 29px;
}

/* ProjectSubtitle */
.MainProjectCard .ProjectSubtitle {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(143, 143, 143);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, 0px);
    line-height: 25.7812px;
    left: 6px;
    top: 556px;
    margin-bottom: 20px;
}

/* ProjectTitle */
.MainProjectCard .ProjectTitle {
    font-family: Volkhov;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 454px;
    transform: translate(0px, 0px);
    line-height: 42.1875px;
    height: 38px;
    left: 5px;
    top: 506px;
    margin-bottom: 10px;
}

.Tag {
    margin-top: 28px;
    margin-bottom: 10px;
}


/* MainImage */
.MainProjectCard .MainImage {
    width: 100%;
}

.SmallProjectCard {
    position: relative;
    border-top: rgba(250,250,250,0.2) 1px solid;
    padding-top: 42px;
    height: 290px;
    display: block;
    margin-bottom: 2em;    
    transition: transform 0.3s ease;
}
.SmallProjectCard:hover {
    transform: scale(1.02);
}
/* MainImage */
.SmallProjectCard .MainImage {
    left: 0;
    /*background: grey;*/
    border-radius: 10px;
}

.SmallProjectCard .wrapper {
    position: absolute;
    top: 20px;
    left: 440px;
    height: 280px;
    width: 600px;
}

/* ProjectButton */
.SmallProjectCard .wrapper .ProjectButton {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 209, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 133px;
    transform: translate(0px, 0px);
    line-height: 28.125px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.SmallProjectCard .wrapper .ProjectButton:hover {
    
}

/* ProjectSubtitle */
.SmallProjectCard .wrapper .ProjectSubtitle {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(143, 143, 143);
    vertical-align: middle;
    justify-content: flex-start;
    width: 400px;
    transform: translate(0px, -1.8px);
    line-height: 30px;
    height: 58px;
    left: calc(50% - 185px + 156px);
    top: 1906px;
}

/* ProjectTitle */
.SmallProjectCard .wrapper .ProjectTitle {
    font-family: Volkhov;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, 0px);
    line-height: 42.1875px;
    height: 45px;
    left: calc(50% - 123px + 95px);
    top: 1848px;
    margin: 20px 0 8px 0;
}
.Info {
    margin-top: 60px;
}
/* SectionTitleLeft */
.Info .SectionTitleLeft {
    font-family: Volkhov;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    transform: translate(0px, -9.73333px);
    line-height: 65px;
    height: 55px;
    left: calc(50% - 120.5px + -349.5px);
    top: 2138px;
}
/* PatentText */
.Info .InfoText {
    align-items: normal;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 914px;
    line-height: 40px;
    left: calc(50% - 457px + -13px);
    top: 2213px;
}

/* PatentText Subset */
.Info .InfoText .main {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: normal;
}

/* PatentText Subset */
.Info .InfoText .addition {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: normal;
    color: rgb(189, 189, 189);
}
.Info .InfoText strong {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    align-items: normal;
    color: rgb(0, 209, 255);
}
.Info.Contact a {
    text-decoration: underline;
    color: rgb(0, 209, 255);
}
a.blue {
    text-decoration: underline;
    color: rgb(0, 209, 255);
}


/* More */
.Info .MoreButton {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(0, 209, 255);
    vertical-align: middle;
    justify-content: flex-start;
    line-height: 40px;
    height: 38px;
    left: calc(50% - 33px + -405px);
    top: 2257px;
    cursor: pointer;
}
#patentList {
    overflow: hidden;
    /* overflow-x: visible; */
    transition: height 0.3s ease;
    padding: 0 20px;
    box-sizing: border-box;
    /* width: 110%; */
    position: relative;
    left: -20px;
}
    

    
